
.bodyContainer{
    min-width: 100%;
    min-height: 100%;
    max-width: 100% !important;
    padding-top: 5vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

.totalCard{
    min-height: 130px;
    display: flex;
}

.totalCardHeader{
    justify-self: center;
    align-self: center;
    margin-top: 2px;
}

.subtotal {
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 5%;
    margin-top: 15px;
    margin-bottom: 20px;
    color: red;
}

.addNewButton {
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
}