
.loginContainer{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
}

.loginCard {
    width: 100%;
    height: 100%;
    padding: 30px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #f2f2f2;
}

.loginForm {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.authInput {
    width: 100%;
}

.checkInput{
    text-align: left !important;
}

.button{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.subtext {
    font-size: smaller;
    margin: 0px;
    margin-top: 10px;
}

.errorMessage{
    color: red;
    margin-top: 0;
    
}